@{
    ViewBag.Title = "Home Page";
}

@using (Html.BeginForm("EnviaEmail", "Email", FormMethod.Post,
                                      new { enctype = "multipart/form-data" }))
{

    var listItems = new List<SelectListItem>();
    {
        listItems.Add(new SelectListItem
        {
            Text = "Exemplo1",
            Value = "Exemplo1"
        });
        listItems.Add(new SelectListItem
        {
            Text = "Exemplo2",
            Value = "Exemplo2",
        });
        listItems.Add(new SelectListItem
        {
            Text = "Exemplo3",
            Value = "Exemplo3"
        });
    };

    <div>
        <br />
        <div class="row">
            <div>
                @Html.Label("Grupo de Email")

            </div>
            <div class="input-group">
                @Html.DropDownList("grupoEmail", new SelectList(listItems, "Value", "Text"), "-- Grupo --", new { @class = "form-control" })
            </div>
        </div>
        <div class="row mt-4">
            <div>
                @Html.Label("Corpo do Email")
            </div>
            <div class="input-group">
                <input type="file" class="form-control-file" id="file" name="file" required>
            </div>
        </div>

        <div style="margin-top: 25px">
            <button class="btn btn-success">Enviar</button>
        </div>

    </div>
}
<script src="~/Content/plugins/jquery-validation/jquery.validate.js"></script>
